{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/candidatos/save" method="post">
        <fieldset>
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome">
            </div>
            <div>
                <label for="profissao">Profissao: </label>
                <input type="text" name="profissao" id="profissao">
            </div>
            
            <button type="submit">Salvar</button>
            
        </fieldset>
    </form>

{% endblock %}